[user]
	name = Nadrieril
	email = nadrieril@gmail.com
[branch]
	autosetuprebase = always
[push]
	default = current
[alias]
	s = status
	st = status
	dc = diff --cached
	co = checkout
	cob = checkout -b
	br = branch

	fa = fetch --all --prune
	pur = pull --rebase
	pff = pull --no-rebase --ff-only
	clear = remote prune origin

	sth = stash
	sthp = stash pop

	ap = add -p
	ai = add -i

	ci = commit
	cm = commit -m
	cia = commit --amend
	cian = commit --amend --no-edit

	rbi = rebase -i
	rh = reset HEAD

	alias = config --get-regexp ^alias\\.
	confg = config --global
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
